<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />

    <link rel="stylesheet" href="../stylesheets/app.css" />
    <title>YelpCamp</title>
  </head>

  <body>
    <%- include('../partials/navbar-dark') -%>
    <!-- br -->
    <%- body -%>
    <script src="scripts/scripts.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"
      integrity="sha256-HkXXtFRaflZ7gjmpjGQBENGnq8NIno4SDNq/3DbkMgo="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
