<% layout('layouts/home') %>
<div class="hero-body">
  <div class="container">
    <h1 class="title is-1 is-uppercase">
      Welcome
    </h1>
    <h2 class="subtitle is-4">
      Search for the perfect campgrounds
    </h2>
    <a href="/campgrounds" class="button is-white is-medium is-outlined"
      >See all campgrounds</a
    >
  </div>
</div>
