<% layout('layouts/home') %>
<div class="hero-body">
  <div class="container">
    <h1 class="title is-1 is-uppercase">
      Bem vindo!
    </h1>
    <h2 class="subtitle is-4">
      Seja bem vindo!
    </h2>
  </div>
</div>
