<%- include("partials/header") %>

<div class="container">
  <h1>Bem vindo!</h1>
  <p>Tudo ok!</p>

  <p>Seja bem vindo!</p>
</div>

<!-- <a href="/campgrounds">Campgrounds</a> -->

<%- include("partials/footer") %>